.filters{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2px;
    width: 600px;
    font-weight: bold;
}
.alphabethic{
    background-color: #4796f0;
    height: 25px;
    color: white;;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

.population{
    background-color: #4796f0;
    height: 25px;
    color: white;;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}